public/
resources/
.hugo_build.lock
hugo_stats.json
**/assets/jsconfig.json
node_modules/
.env
.env.local
.env.*.local
pagefind/
static/pagefind/
.DS_Store
.DS_Store?
._*
Thumbs.db
Desktop.ini
*~
*.log
npm-debug.log*
